body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    color: black
}

header {
    background-color: green;
    color: white;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    text-decoration: underline;
}

section {
    margin: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.Astonashing-animals {
    list-style-type: square;
    padding-left: 20px;
}

ol.household-animals {
    list-style-type: decimal;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: green;
    color: white;
    margin-top: 2em;
}